.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
  transition: 300ms ease;
  opacity: 0.6;
}

.icon:hover {
  opacity: 0.9;
}

.icon:active {
  transform: scale(0.9);
}
